* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
    border: none;
}

window#waybar {
    border-radius: 10px;
    border: none;
    background-color: #0b0f10;
}

tooltip {
    border-radius: 10px;
    color: #e2e3e3;
}

#workspaces button {
    background: transparent;
    color: #6f7373;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #e2e3e3;
}

#workspaces button.active {
    color: #e2e3e3;
}

#clock, #cpu, #memory, #pulseaudio, #backlight, #temperature, #battery {
    color: #e2e3e3;
    padding: 0px 8px;
    margin: 0px 8px;
}
